<section id="doe" class="bg-white w-full h-screen">
  <div
    class="max-w-screen-xl mx-auto p-8 mt-10 bg-[#EEEEEE] grid grid-cols-1 md:grid-cols-2 gap-4"
  >
    <div>
      <img src="assets/img/logo_pix.png" alt="Logo do Pix" class="max-h-32" />
    </div>
    <div class="flex flex-col items-center justify-center gap-4">
      <h3 class="font-bold text-5xl text-[#056caf]">
        Faça sua doação via PIX:
      </h3>
      <span class="text-gray-800 text-xl">Chaves: <br /></span>
      <span class="text-gray-800 text-xl"
        >E-mail: pix&#64;institutohiagoqueiroz.org.br</span
      >
      <span class="text-gray-800 text-xl">CNPJ: 74.566.035/0001-29</span>
      <span class="text-gray-800 text-xl">QR Code:</span>
      <img [src]="qrCodeUrl" alt="QR Code" />
    </div>
  </div>
</section>
