<app-header></app-header>
<img src="assets/img/banner/one.jpeg" alt="" class="w-full h-[500px]" />
<section class="bg-[#F0EEEF] w-full max-h-[400px]">
  <div class="max-w-screen-xl mx-auto px-2 py-20">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col gap-5">
        <h1 class="font-bold text-xl text-gray-900">Quem Somos</h1>
        <p class="text-gray-600">
          O Instituto Hiago Queiroz é uma organização social que busca valorizar
          e proteger a vida por meio de atividades que promovem o
          desenvolvimento humano e territorial. Com parceiros empresariais, visa
          transformar vidas através da educação, cultura e solidariedade,
          alinhando-se ao ESG para criar um impacto social sustentável. Fundado
          pelo professor Hiago Queiroz, o instituto surgiu de sua experiência
          pessoal com a dança, que o inspirou a levar cultura e educação a mais
          pessoas. Sua missão é desenvolver atividades que fomentem o
          autoconhecimento e a solidariedade, enquanto sua visão e valores
          incluem ética, diversidade cultural, crescimento humano e respeito
          mútuo.
        </p>
        <button class="bg-[#056caf] max-w-50 rounded-xl text-white">
          saiba mais
        </button>
      </div>
      <div>foto</div>
    </div>
  </div>
</section>
