<app-header></app-header>
<img src="assets/img/banner/one.jpeg" alt="" class="w-full h-[500px]" />
<section id="quem_somos" class="bg-[#F4F9FF] w-full">
  <div class="max-w-screen-xl mx-auto px-2 py-2">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between py-10"
    >
      <div class="flex flex-col gap-5">
        <h2 class="font-manrope text-4xl font-bold text-gray-800 text-center">
          Quem Somos
        </h2>
        <p class="text-gray-600">
          O Instituto Hiago Queiroz é uma organização social que busca valorizar
          e proteger a vida por meio de atividades que promovem o
          desenvolvimento humano e territorial. Com parceiros empresariais, visa
          transformar vidas através da educação, cultura e solidariedade,
          alinhando-se ao ESG para criar um impacto social sustentável. Fundado
          pelo professor Hiago Queiroz, o instituto surgiu de sua experiência
          pessoal com a dança, que o inspirou a levar cultura e educação a mais
          pessoas. Sua missão é desenvolver atividades que fomentem o
          autoconhecimento e a solidariedade, enquanto sua visão e valores
          incluem ética, diversidade cultural, crescimento humano e respeito
          mútuo.
        </p>

        <button class="bg-[#056caf] max-w-[100px] py-2 rounded-xl text-white">
          Saiba mais
        </button>
      </div>
      <div class="flex items-center justify-center h-full w-full">
        <img
          src="assets/img/logo-oficial.svg"
          alt=""
          class="h-[300px] w-[300px]"
        />
      </div>
    </div>
  </div>
</section>

<section id="nosso_impacto" class="bg-[#056caf] w-full">
  <div
    class="max-w-screen-xl mx-auto py-20 flex flex-col items-center justify-center"
  >
    <div class="flex flex-col items-center h-full w-full gap-12">
      <h2 class="font-manrope text-4xl font-bold text-white text-center">
        Nosso Impacto
      </h2>
      <div class="grid grid-cols-3 gap-2">
        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ culturalClass }}</span>
          <span class="text-white">Aulas Culturais</span>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ SocialPsychology }}</span>
          <span class="text-white">Sessões de Psicologia Social</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ Assisted }}</span>
          <span class="text-white">Assistidos de forma direta</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ collectedFood }}</span>
          <span class="text-white">Quilos de alimentos arrecadados</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ socialActions }}</span>
          <span class="text-white">Ações sociais</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ plasticLid }}</span>
          <span class="text-white">Quilos de tampinhas plásticas</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ultimas_noticias" class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="font-manrope text-4xl font-bold text-gray-800 text-center mb-14">
      Últimas notícias
    </h2>
    <div
      class="flex justify-center mb-14 gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8"
    >
      @for (card of cards; track $index) {
      <div
        class="group transform transition-transform duration-300 hover:scale-105 cursor-pointer w-full max-lg:max-w-xl lg:w-1/3 border border-gray-300 rounded-2xl p-5 hover:border-[#056caf]"
      >
        <div class="flex items-center mb-6">
          <img
            [src]="card.imageSrc"
            [alt]="card.imageAlt"
            class="rounded-lg w-full object-cover"
          />
        </div>
        <div class="block">
          <h4 class="text-gray-900 font-medium leading-8 mb-9">
            {{ card.title }}
          </h4>
          <div class="flex items-center justify-between font-medium">
            <h6 class="text-sm text-gray-500">By Alexa H.</h6>
            <span class="text-sm text-[#056caf]">12 Dez, 2024</span>
          </div>
        </div>
      </div>
      }
    </div>
    <app-button
      label="Ver mais"
      classes="p-2 flex justify-center items-center font-semibold mx-auto"
    ></app-button>
  </div>
</section>

<section id="projetos" class="bg-[#056caf] w-full">
  <div
    class="max-w-screen-xl mx-auto py-20 flex flex-col items-center justify-center gap-8"
  >
    <h2 class="font-manrope text-4xl font-bold text-white text-center">
      Nossos Projetos
    </h2>
    <p class="text-white text-xl">
      Através desses projetos, ajudamos a comunidade do Capão a se
      profissionalizar, se alimentar e a viver melhor.
    </p>
    <div class="grid grid-cols-4 gap-10">
      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div
            class="h-[180px] w-[180px] bg-white rounded-full object-cover object-center"
          >
            <img src="assets/img/projects/tempos-dourados-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Tempos Dourados</span>
      </div>

      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div class="h-[180px] w-[180px] bg-white rounded-full">
            <img src="assets/img/projects/tampinhas-em-acao-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Tampinhas em Ação</span>
      </div>

      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div class="h-[180px] w-[180px] bg-white rounded-full">
            <img src="assets/img/projects/oleo-do-bem-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Óleo do Bem</span>
      </div>

      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div class="h-[180px] w-[180px] bg-white rounded-full">
            <img src="assets/img/projects/educalixo-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Educalixo</span>
      </div>
    </div>
  </div>
</section>

<section id="nossos_patrocinadores" class="w-full bg-[#FFFF]">
  <div class="max-w-screen-xl mx-auto py-20">
    <h2 class="font-manrope text-4xl font-bold text-gray-600 text-center">
      Nossos Patrocinadores
    </h2>

    <div class="grid grid-cols-5 gap-10">
      <img src="assets/img/partnes/parceiro-02.svg" alt="" />
      <img src="assets/img/partnes/parceiro-03.svg" alt="" />
      <img src="assets/img/partnes/parceiro-04.svg" alt="" />
      <img src="assets/img/partnes/parceiro-05.svg" alt="" />
      <img src="assets/img/partnes/parceiro-06.svg" alt="" />
      <img src="assets/img/partnes/parceiro-07.svg" alt="" />
      <img src="assets/img/partnes/parceiro-08.svg" alt="" />
    </div>
  </div>
</section>

<section id="nossa_equipe" class="bg-[#F4F9FF] w-full">
  <div
    class="max-w-screen-xl mx-auto py-20 flex flex-col items-center justify-center gap-12"
  >
    <h2 class="font-manrope text-4xl font-bold text-gray-600 text-center mb-14">
      Conheça nossa equipe
    </h2>

    <div class="grid grid-cols-3 gap-10">
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/01.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-600">Hiago Queiroz</h3>
        <p class="text-gray-500 font-light">Presidente</p>
      </div>

      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/03.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Cláudia Regina</h3>
        <p class="text-gray-700">Vice-Presidente</p>
      </div>

      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/07.png"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Adalberto Monteiro</h3>
        <p class="text-gray-700">Secretário</p>
      </div>

      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/05.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Lúcia Doneida</h3>
        <p class="text-gray-700">Tesoureira</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/06.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Wilson Martins</h3>
        <p class="text-gray-700">Conselheiro 1</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/04.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Rubens Gomes</h3>
        <p class="text-gray-700">Conselheiro 2</p>
      </div>
    </div>
  </div>
</section>

<section id="depoimentos">
  <div
    class="min-w-screen min-h-screen bg-gray-50 flex items-center justify-center"
  >
    <div
      class="w-full bg-white border-t border-b border-gray-200 px-5 py-16 md:py-24 text-gray-800"
    >
      <div class="w-full max-w-6xl mx-auto">
        <div class="text-center max-w-xl mx-auto">
          <h1 class="text-6xl md:text-7xl font-bold mb-5 text-gray-600">
            O que nossos alunos <br />dizem sobre nós.
          </h1>
          <h3 class="text-xl mb-5 font-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h3>
          <div class="text-center mb-10">
            <span
              class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"
            ></span>
            <span
              class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"
            ></span>
            <span
              class="inline-block w-40 h-1 rounded-full bg-indigo-500"
            ></span>
            <span
              class="inline-block w-3 h-1 rounded-full bg-indigo-500 ml-1"
            ></span>
            <span
              class="inline-block w-1 h-1 rounded-full bg-indigo-500 ml-1"
            ></span>
          </div>
        </div>
        <div class="-mx-3 md:flex items-start">
          <div class="px-3 md:w-1/3">
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=1" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Kenzie Edgar.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                  sunt ratione dolor exercitationem minima quas itaque saepe
                  quasi architecto vel! Accusantium, vero sint recusandae cum
                  tempora nemo commodi soluta deleniti.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=2" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Stevie Tifft.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Lorem ipsum, dolor sit amet, consectetur adipisicing elit.
                  Dolore quod necessitatibus, labore sapiente, est, dignissimos
                  ullam error ipsam sint quam tempora vel.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="px-3 md:w-1/3">
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=3" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Tommie Ewart.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Vitae, obcaecati ullam excepturi dicta error deleniti
                  sequi.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=4" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Charlie Howse.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Architecto inventore voluptatum nostrum atque, corrupti, vitae
                  esse id accusamus dignissimos neque reprehenderit natus, hic
                  sequi itaque dicta nisi voluptatem! Culpa, iusto.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="px-3 md:w-1/3">
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=5" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Nevada Herbertson.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Nobis, voluptatem porro obcaecati dicta, quibusdam sunt ipsum,
                  laboriosam nostrum facere exercitationem pariatur deserunt
                  tempora molestiae assumenda nesciunt alias eius? Illo,
                  autem!<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=6" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Kris Stanton.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Voluptatem iusto, explicabo, cupiditate quas totam!<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BUY ME A BEER AND HELP SUPPORT OPEN-SOURCE RESOURCES -->
  <div class="flex items-end justify-end fixed bottom-0 right-0 mb-4 mr-4 z-10">
    <div>
      <a
        title="Buy me a beer"
        href=""
        target="_blank"
        class="block w-16 h-16 rounded-full transition-all shadow hover:shadow-lg transform hover:scale-110 hover:rotate-12"
      >
        <img
          class="object-cover object-center w-full h-full rounded-full"
          src="https://i.pinimg.com/originals/60/fd/e8/60fde811b6be57094e0abc69d9c2622a.jpg"
        />
      </a>
    </div>
  </div>
</section>
