<app-header></app-header>
<img src="assets/img/banner/one.jpeg" alt="" class="w-full h-[500px]" />
<section id="quem_somos" class="bg-[#F4F9FF] w-full">
  <div class="max-w-screen-xl mx-auto px-2 py-2">
    <div
      class="grid grid-cols-1 md:grid-cols-2 items-center justify-between py-10"
    >
      <div class="flex flex-col gap-5">
        <h2 class="font-manrope text-4xl font-bold text-gray-800 text-center">
          Quem Somos
        </h2>
        <p class="text-gray-600">
          O Instituto Hiago Queiroz é uma organização social que busca valorizar
          e proteger a vida por meio de atividades que promovem o
          desenvolvimento humano e territorial. Com parceiros empresariais, visa
          transformar vidas através da educação, cultura e solidariedade,
          alinhando-se ao ESG para criar um impacto social sustentável. Fundado
          pelo professor Hiago Queiroz, o instituto surgiu de sua experiência
          pessoal com a dança, que o inspirou a levar cultura e educação a mais
          pessoas. Sua missão é desenvolver atividades que fomentem o
          autoconhecimento e a solidariedade, enquanto sua visão e valores
          incluem ética, diversidade cultural, crescimento humano e respeito
          mútuo.
        </p>

        <button class="bg-[#056caf] max-w-[100px] py-2 rounded-xl text-white">
          Saiba mais
        </button>
      </div>
      <div class="flex items-center justify-center h-full w-full">
        <img
          src="assets/img/logo-oficial.svg"
          alt=""
          class="h-[300px] w-[300px]"
        />
      </div>
    </div>
  </div>
</section>

<section id="nosso_impacto" class="bg-[#056caf] w-full">
  <div
    class="max-w-screen-xl mx-auto py-20 flex flex-col items-center justify-center"
  >
    <div class="flex flex-col items-center h-full w-full gap-12">
      <h2 class="font-manrope text-4xl font-bold text-white text-center">
        Nosso Impacto
      </h2>
      <div class="grid grid-cols-3 gap-2">
        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ culturalClass }}</span>
          <span class="text-white">Aulas Culturais</span>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ SocialPsychology }}</span>
          <span class="text-white">Sessões de Psicologia Social</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ Assisted }}</span>
          <span class="text-white">Assistidos de forma direta</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ collectedFood }}</span>
          <span class="text-white">Quilos de alimentos arrecadados</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ socialActions }}</span>
          <span class="text-white">Ações sociais</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-2">
          <span class="text-white text-4xl">{{ plasticLid }}</span>
          <span class="text-white">Quilos de tampinhas plásticas</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ultimas_noticias" class="py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h2 class="font-manrope text-4xl font-bold text-gray-800 text-center mb-14">
      Últimas notícias
    </h2>
    <div
      class="flex justify-center mb-14 gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8"
    >
      @for (card of cards; track $index) {
      <div
        class="group transform transition-transform duration-300 hover:scale-105 cursor-pointer w-full max-lg:max-w-xl lg:w-1/3 border border-gray-300 rounded-2xl p-5 hover:border-[#056caf]"
      >
        <div class="flex items-center mb-6">
          <img
            [src]="card.imageSrc"
            [alt]="card.imageAlt"
            class="rounded-lg w-full object-cover"
          />
        </div>
        <div class="block">
          <h4 class="text-gray-900 font-medium leading-8 mb-9">
            {{ card.title }}
          </h4>
          <div class="flex items-center justify-between font-medium">
            <h6 class="text-sm text-gray-500">By Alexa H.</h6>
            <span class="text-sm text-[#056caf]">12 Dez, 2024</span>
          </div>
        </div>
      </div>
      }
    </div>
    <app-button
      label="Ver mais"
      classes="p-2 flex justify-center items-center font-semibold mx-auto"
    ></app-button>
  </div>
</section>

<section id="projetos" class="bg-[#056caf] w-full">
  <div
    class="max-w-screen-xl mx-auto py-20 flex flex-col items-center justify-center gap-8"
  >
    <h2 class="font-manrope text-4xl font-bold text-white text-center">
      Nossos Projetos
    </h2>
    <p class="text-white text-xl">
      Através desses projetos, ajudamos a comunidade do Capão a se
      profissionalizar, se alimentar e a viver melhor.
    </p>
    <div class="grid grid-cols-4 gap-10">
      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div
            class="h-[180px] w-[180px] bg-white rounded-full object-cover object-center"
          >
            <img src="assets/img/projects/tempos-dourados-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Tempos Dourados</span>
      </div>

      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div class="h-[180px] w-[180px] bg-white rounded-full">
            <img src="assets/img/projects/tampinhas-em-acao-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Tampinhas em Ação</span>
      </div>

      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div class="h-[180px] w-[180px] bg-white rounded-full">
            <img src="assets/img/projects/oleo-do-bem-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Óleo do Bem</span>
      </div>

      <div
        class="flex flex-col items-center justify-center gap-5 cursor-pointer transform transition-transform duration-300 hover:scale-105"
      >
        <div
          class="h-[200px] w-[200px] bg-[#3990c8] rounded-full object-cover object-center flex items-center justify-center"
        >
          <div class="h-[180px] w-[180px] bg-white rounded-full">
            <img src="assets/img/projects/educalixo-logo.svg" alt="" />
          </div>
        </div>
        <span class="text-xl text-white">Educalixo</span>
      </div>
    </div>
  </div>
</section>

<section id="nossos_patrocinadores" class="w-full bg-[#FFFF]">
  <div class="max-w-screen-xl mx-auto py-20">
    <h2 class="font-manrope text-4xl font-bold text-gray-800 text-center">
      Nossos Patrocinadores
    </h2>

    <div class="grid grid-cols-5 gap-10">
      <img src="assets/img/partnes/parceiro-02.svg" alt="" />
      <img src="assets/img/partnes/parceiro-03.svg" alt="" />
      <img src="assets/img/partnes/parceiro-04.svg" alt="" />
      <img src="assets/img/partnes/parceiro-05.svg" alt="" />
      <img src="assets/img/partnes/parceiro-06.svg" alt="" />
      <img src="assets/img/partnes/parceiro-07.svg" alt="" />
      <img src="assets/img/partnes/parceiro-08.svg" alt="" />
    </div>
  </div>
</section>

<section id="nossa_equipe" class="bg-[#F4F9FF] w-full">
  <div
    class="max-w-screen-xl mx-auto py-20 flex flex-col items-center justify-center gap-12"
  >
    <h2 class="font-manrope text-4xl font-bold text-gray-900 text-center mb-14">
      Conheça nossa equipe
    </h2>

    <div class="grid grid-cols-3 gap-10">
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/01.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Hiago Queiroz</h3>
        <p class="text-gray-700">Presidente</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/02.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Edenora Andrade</h3>
        <p class="text-gray-700">Vice-Presidente</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/03.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Cláudia Regina</h3>
        <p class="text-gray-700">Tesoureira</p>
      </div>

      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/05.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Lúcia Doneida</h3>
        <p class="text-gray-700">Conselheira Fiscal 1</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/06.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Wilson Martins</h3>
        <p class="text-gray-700">Conselheiro Fiscal 2</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2">
        <img
          src="assets/img/team/04.jpeg"
          alt=""
          class="rounded-full h-48 w-48 drop-shadow-lg"
        />
        <h3 class="font-bold text-gray-800">Rubens Gomes</h3>
        <p class="text-gray-700">Conselheiro Fiscal 3</p>
      </div>
    </div>
  </div>
</section>
